* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
}
.header{
    width:100%;
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.7 ), rgba(0,0,0,0.7)),
     url('images/header-image.png');
     background-size: cover;
     background-position: center;
     padding: 10px 8% ;
     position: relative;
}


nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo {
    width: 150px;
    cursor: pointer;
}
.English-button{
    border :1px solid white;
    background: inherit;
    color: white;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    margin-left: 10px;
    cursor: pointer;
    transition: opacity 0.15s;

}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 7px 20px;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 10px;
   transition: opacity 0.15s ;
}
nav button:hover{
    opacity: 0.8;
}
nav button:active{
    opacity: 0.5;
}
.English-button img{
    width: 8px;
    margin-left: 10px;
}
.language{
    width: 50px;
    margin-right: 5px;
}
.header-content{
    text-align: center;
    position: absolute;
    top: 40%;
    left: 50%;
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
    transform: translate(-50%, -50%);
    margin-top: 100px;

}
.header-content h1{
    font-size: 48px; 
    line-height: 1.3;
    font-weight: 900;
    
}
.header-content h2{
    font-size: 48px; 
    font-weight: 900;
    margin-bottom: 20px;
    margin-top: 8px;
}
.header-content h3{
    font-weight: 600;
    margin-bottom: 28px; 
}
.email-signup{
    background: transparent;
    justify-content: center;
    display: flex;
    font-size: 16px;
    align-items: center;
    margin-top: 30px;
    
}
.email-signup input {

    border: 0;
    width: 400px;
    padding:  16px  16px ;
    background: rgba(0,0,0,0.5);
    color: white;
    border-radius: 4px;
    border: 2px solid rgba(255, 255, 255, 0.3);
    outline: none;
    font-size: 16px;
   
}
.email-signup button{
    background: #db0001;
    outline: 0;
    color: white;
    font-size: 16px;
    margin-left: 10px;
    cursor: pointer;
    padding: 17px 18px;
    border-radius: 4px;
    transition: opacity 0.15s;   
}
.email-signup button:hover{
    opacity: 0.8;
}
.email-signup button:active{
    opacity: 0.5;
}
.container{
 
    height: 500px;
    max-width: 700px;
    width: 100%;
    margin-top: 30px;
    margin-left: 12vw;
    margin-right: 12vw ;
    margin-bottom: 100px;
}
.section-title {
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-bottom: 25px ;
    color: white;
}
.slider{
    display: flex;
    gap: 20px;
    overflow-x: auto;
    /* scroll-snap-type: x mandatory;
    scrollbar-width: none; */
    padding: 20px 0;
}
.slider::-webkit-scrollbar{
    display: none;

}
.slider img{
    flex:0 0 auto;
    width: 200px;
    scroll-snap-align: center;
    border-radius: 8px;
    transition: transform 0.3s;
}
.slider img:hover{
    transform: scale(1.1);
    cursor: pointer;
}
.number{
    position: absolute;
    bottom: 15px;
    left:-15px;
    font-size: 75px;
    color: black;
    -webkit-text-stroke: 3px white;
    font-weight: bold;
}
